#bot-container *{
    box-sizing:border-box !important;
}
#bot-container.sb_open{
    border: 0 none;
    bottom: 0;
    position: fixed;
    right: 0;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    z-index:99999999;
    width: 364px;
    height: 460px;
    max-height: 100%;
    transition: all .3s;
    z-index:99999999;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}
iframe.srb_chatbot_window {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    position: absolute;
    border: none;
    max-width: 100%;
    max-height: 100%;
    left: 0;
}
.sb_close_min_icon{
    position:absolute;
    right: 10px;
    height: 64px;
    top:0 !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sb_close_min_icon a{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 24px;
    text-align: center;
}
#bot-container svg {
    pointer-events: none;
}
.sb_close_min_icon svg{
    max-width: 100%;
}
.sb_close_min_icon svg path{
    fill: #000;
}
.sb_close_min_icon .sb_min_chat {
    margin-right: 10px;
    line-height: 26px;
}

.sb_close_min_icon .sb_min_chat.max_icon svg{
    width: 13px;
}

.preview_icon {
    bottom: 15px;
    color: #fff;
    max-height: 100px;
    position: fixed;
    right: 15px;
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    display: block;
    z-index: 9999;
}
.preview_icon img {
    max-width:100px;
    max-height: 100px;
}

/* Banner */
.srb_banner_widget{
    background: rgb(241, 241, 241);
}
.srb_banner_widget .preview_icon {
    width: 100%;
    height: 100%;
    display: block;
    position: initial;
    max-width: initial;
    max-height: initial;
}
.srb_banner_widget .preview_icon img {
    width: 100%;
    height: auto;
    max-width: initial;
    max-height: initial;
}
#bot-container.srb_banner_widget {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    clear: both;
}
.srb_banner_widget .sb_close_min_icon{
    display: none;
}

/* Size and location */
#bot-container.full_screen{
    right:0 !important;
    bottom:0 !important;
    top:0 !important;
    height: 0%;
    width: 460px;
}

#bot-container.left {
    left:0 !important;
}
#bot-container.full_screen.sb_open {
    height: 100%;
}
div#bot-container.chat_minimized iframe,
#bot-container.left.full_screen.chat_minimized iframe{
    display: none;
}
div#bot-container.chat_minimized.old_theme iframe,
#bot-container.left.full_screen.chat_minimized.old_theme iframe{
    display: none;
}
#bot-container.left{
    left: 0;
}
#bot-container.left .preview_icon{
    left: 15px;
}

@media (max-width: 768px){
    #bot-container.sb_open {
        top:0 !important;
        left:0 !important;
        width:100%;
        height:100%;
    }
    #bot-container.full_screen {
        width: 100% !important;
    }
}

@media (max-width: 360px){
    div#bot-container.chat_minimized, #bot-container.left.full_screen.chat_minimized {
        height:50px !important;
    }
    .sb_close_min_icon {
        height: 50px;
    }
}

/* Confirm Box */
.sb_confirm_box {
    position: absolute;
    z-index: 9999;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.sb_confirm_box .sb_confirm_body {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   width: 260px;
   border-radius: 3px;
   padding: 15px;
   font-family: arial;
   font-size:14px;
   box-shadow: 0 2px 3px rgba(0,0,0,.3);
}
.sb_confirm_footer {
    text-align: center;
    margin: 15px 0 0;
}
div#bot-container.chat_minimized .sb_confirm_box .sb_confirm_body {
    width: 100%;
    border-radius: 8px 8px 0 0;
   display: flex;
   align-items: center;
   height: 100%;
}
div#bot-container.chat_minimized .sb_confirm_footer{
    margin: 0 0 0 7px;
}

.sb_confirm_footer button.sb_yes_btn,
.sb_confirm_footer button.sb_no_btn {
    padding: 6px 11px;
    background: #2196F3;
    color: #fff;
    border: 1px solid #2196F3;
    border-radius: 30px;
    margin: 3px;
    cursor: pointer;
}
.sb_confirm_footer button.sb_no_btn {
    background: #fff;
    color: #2196F3;
 }

/**** old theme widget icons ****/
.old_theme .sb_close_min_icon{
    width: 38px;
    flex-direction: column;
    right: 0;
}
.old_theme .sb_close_min_icon a{
    height: auto;
    width: auto;
    border-radius: unset;
    background-color: unset;
    line-height: initial;
    text-align: center;
}
.old_theme .sb_close_min_icon .sb_min_chat{
    margin-right: 0;
}
.old_theme .sb_close_min_icon svg path{
    fill: #fff;
}

